/* IMPORTATION DES MODULES*/

@use './partials/colors' as colors;
@import './partials/general';
@import './partials/mixins';
@import './partials/header';
@import './partials/footer';

/* IMPORTATION DES MODULES*/




body {
    @include page_bg($bg-home);
}




.intro-main {
    position: relative;
    .intro {
        margin: auto;
        margin-top: 250px;
        width: 600px;
        text-align: center;
        .content {
            p {
                text-align: center;
                font-size: 1.3em;
                margin: 10px;
            }
            h2 {
                margin: 30px;
                color: colors.$white;
            }
        }
        .icon-down {
            margin-top: 300px;
        }
    }
    .logo-content {
        position: fixed;
        top: 45vh;
        right: 3.5%;
        display: flex;
        flex-direction: column;
        align-items: center;
        img {
            padding: 10px;
        }
    }
}



.box {
    margin: auto;
    width: 85%;
    margin-bottom: 100px;
    animation-name: enter-box;
    animation-duration: 4s;
    .title {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .texte {
        width: 95%;
        margin-bottom: 80px;
    }
    .row {
        display: flex;
        justify-content: space-between;
        .profil {
            text-align: center;
            width: 310px;
            &:hover {
                transition: 1s;
                /* width: 370px; */
                /* transform: scale(1.10); */
                zoom: 1.1;
            }
            img {
                width: 100%;
            }
            .profil-title {
                margin: 25px;
                text-align: center;
            }
        }
    }
}



.batman {
    margin-top: 70px;
}

.container-title {
    display: flex;
    flex-direction: row;
    .title {
        padding-bottom: 0;
        text-align: center;
        padding-top: 60px;
    }
    .img-nemesis {
        margin-left: -60px;
        width: 150px;
    }
}

.div-allies {
    justify-content: space-between;
    .img-allies {
        margin-top: -200px;
        margin-right: -19%;
    }
}



.justice-leagues {
    img {
        margin-left: -9%;
        width: 99vw;
    }
    .justice-main {
        margin: 0 auto;
        width: 80%;
        margin-top: 100px;
        margin-bottom: 100px;
        .title {
            margin-bottom: 30px;
        }
    }
}



.slides-media {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .arrow-prec {
        margin: auto;
        margin-left: 0;
    }
    .arrow-next {
        margin: auto;
        margin-right: 0;
    }
    .slides {
        background-image: linear-gradient(to bottom right, rgba(237, 222, 191, 0.40), rgba(25, 88, 125, 0.40));
        display: flex;
        justify-content: center;
        text-align: center;
        width: 600px;
        height: 250px;
        border-radius: 20px;
        img {
            width: 100%;
        }
        .description {
            border-radius: 0px 20px 20px 0px;
            border: solid 2px rgba(255, 255, 255, 0.1);
            border-left: 0;
            p {
                margin: 10px;
                font-size: 0.8em;
                text-align: left;
            }
            .types-media {
                font-size: 1em;
            }
            .name-media {
                font-family: 'Rajdhani-Medium';
                font-size: 1.2em;
            }
            .version-media {
                span {
                    color: #FFFF00;
                }
            }
        }
    }
}




.bande-annonce {
    margin: auto;
    width: 90%;
    text-align: center;
    margin-bottom: 200px;
    img {
        width: 95%;
        vertical-align: middle;
        &:hover {
            box-shadow: 1px 2px 20px 15px#ffffff;
        }
    }
}



.contact {
    background-color: black;
    background-image: linear-gradient(to bottom right, rgba(237, 222, 191, 0.40), rgba(25, 88, 125, 0.40));
    margin-left: -9%;
    width: 99vw;
    .contact-main {
        margin: 0 auto;
        width: 750px;
        padding-top: 60px;
        text-align: center;
        h1 {
            margin-bottom: 80px;
            text-transform: uppercase;
            text-align: center;
        }
        .lb-adresse,
        .lb-newsletter,
        .lb-message {
            font-family: 'SpaceGrotesk-Regular';
            font-size: 22px;
            color: #ffffff;
            display: block;
            margin: 20px 0px;
            text-align: left;
        }
        .lb-choix {
            display: block;
            width: 80%;
            color: #c4c4c4;
            font-family: 'Rajdhani-Medium';
            font-size: 18px;
            text-align: left;
            margin: 10px 0px;
        }
        input[type=email],
        input[type=text],
        textarea,
        select {
            width: 100%;
            margin: 20px 0px;
            border: none;
            border-bottom: 2px solid #c4c4c4;
            background-color: #ffffff00;
            color: #c4c4c4;
            font-size: 16px;
            font-family: 'SpaceGrotesk-Regular';
            resize: none;
        }
        input[type=checkbox]:checked {
            font-family: 'FontAwesome';
            content: "\f00d";
            color: #ffffff;
        }
        input::placeholder,
        textarea::placeholder {
            color: #c4c4c4;
        }
        input:focus,
        textarea:focus {
            border: 0;
        }
        input[type=checkbox] {
            width: 20px;
            height: 20px;
            text-align: bottom;
        }
        input[type=radio] {
            opacity: 0;
            position: absolute;
            width: 0;
            height: 0;
        }
        input[type=submit] {
            border: none;
            align-self: center;
            padding: 20px 80px;
            margin-bottom: 50px;
            font-family: 'SpaceGrotesk-Regular';
            color: #ffffff;
            font-size: 18px;
            background-image: linear-gradient(to right, rgba(13, 14, 9, 0.4), rgba(137, 0, 9, 0.9));
        }
        .div-formbtn {
            display: flex;
            justify-content: center;
            .btn-form {
                text-decoration: none;
                color: #ffffff;
                font-family: 'SpaceGrotesk-Regular';
                margin: 15px;
                padding: 10px 30px;
                font-size: 0.8em;
                border: 1px solid;
                border-image: linear-gradient(to right, #c4c4c4, #19587D);
                border-image-slice: 1;
                &:hover {
                    background-image: linear-gradient(to right, rgba(237, 222, 191, 0.40), rgba(25, 88, 125, 0.40));
                }
            }
        }
    }
}



.citation {
    margin-top: 200px;
    .citation-main {
        display: flex;
        justify-content: space-between;
        width: 70%;
        margin: auto;
        .open-citation {
            margin: auto;
            margin-top: 0;
            margin-left: 0;
        }
        .close-citation {
            margin: auto;
            margin-bottom: 0;
            margin-right: 0;
        }
        .text-citation {
            width: 60%;
            padding-top: 100px;
            padding-bottom: 50px;
            font-size: 0.7em;
            p {
                text-align: center;
                font-weight: 70px;
                line-height: 40px;
                span {
                    padding: 20px;
                    display: block;
                    font-size: small;
                    line-height: 30px;
                }
            }
        }
    }
}