@charset "UTF-8";
/* Quelques extras */

/* scrollbar */

html::-webkit-scrollbar-track {
  background-color: #000000;
}

html::-webkit-scrollbar {
  width: 6px;
  background-color: #F5F5F5;
}

html::-webkit-scrollbar-thumb {
  background-color: #c9c8c87a;
  border-radius: 10px;
}

html::-webkit-scrollbar-thumb:hover {
  background-color: #b3b2b26c;
}

html::-webkit-scrollbar-corner {
  background-color: #1b2538;
}

*{scroll-behavior: smooth;}

 
@font-face {
  font-family: "Rajdhani-Medium";
  font-style: medium;
  src: url("fonts/Rajdhani-Medium.ttf");
}
@font-face {
  font-family: "SpaceGrotesk-Bold";
  font-style: bold;
  src: url("fonts/SpaceGrotesk-Bold.ttf");
}
@font-face {
  font-family: "SpaceGrotesk-Regular";
  src: url("fonts/SpaceGrotesk-Regular.ttf");
}

* {
  margin: 0;
  padding: 0;
}

h1 {
  font-family: "Rajdhani-Medium";
  font-size: 36px;
  color: #FFFFFF;
}

h2 {
  font-family: "SpaceGrotesk-Regular";
  font-size: 22px;
}

p {
  font-family: "SpaceGrotesk-Regular";
  text-align: justify;
  color: #FFFFFF;
  font-size: 22px;
}

.btn {
  display: inline-block;
  text-decoration: none;
  color: #FFFFFF;
  font-family: "Rajdhani-Medium";
  font-size: 20px;
  text-align: center;
  margin: 15px;
  padding: 20px 10px;
  background-image: linear-gradient(to right, rgba(237, 222, 191, 0.4), rgba(137, 0, 9, 0.6));
  width: 200px;
}
.btn:hover {
  background-image: linear-gradient(to right, #eddebf, #890009);
  transition: .5s ease-in-out;
}

.container {
  margin: auto;
  width: 85%;
  border: 3px solid rgba(255, 255, 255, 0.1);
}

.main {
  border-bottom: 0;
}

.yellow-hover:hover {
  filter: invert(18%) sepia(82%) saturate(4658%) hue-rotate(355deg) brightness(109%) contrast(112%);
  transition: .3s ease-in-out;
}

.popup {
  position: fixed;
  display: flex;
  top: 20vh;
  left: 10vw;
  width: 80%;
  height: 60vh;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 30px;
  display: none;
}
.popup-box {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  height: 80%;
  background-color: black;
  border-radius: 30px;
  background-image: linear-gradient(to bottom right, rgba(237, 222, 191, 0.4), rgba(25, 88, 125, 0.4));
}
.popup-box p {
  text-transform: uppercase;
}

@-webkit-keyframes fadein {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadein {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 50px;
  margin-bottom: 60px;
}
.header .menu a {
  text-decoration: none;
  color: #FFFFFF;
  display: inline-block;
  margin-left: 10px;
  font-family: "Rajdhani-Medium";
  font-size: 36px;
  font-style: normal;
}
.header .menu .active,
.header .menu a:hover {
  text-decoration: underline;
  font-style: bold;
}

.footer {
  border-top: 0;
  padding-top: 200px;
  padding-bottom: 100px;
}
.footer .space-wb {
  margin: auto;
  text-align: center;
  margin: 20px;
}
.footer .space-wb p {
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
  font-size: 11px;
  text-align: center;
}
.footer .space-wb img {
  display: inline-block;
  vertical-align: middle;
}
.footer .img-footer {
  margin: auto;
  text-align: center;
}
.footer .img-footer .social img {
  margin: 15px;
}
.footer .logo-footer {
  display: inline-block;
  margin: 10px;
}
.footer .logo-footer img {
  vertical-align: middle;
  margin: 5px;
}


body {
  background: url("../assets/Illustrations/Bathome1.png");
  background-repeat: no-repeat;
  background-position: 0px 0px;
  background-size: 100%;
  background-color: black;
}


.intro-main {
  position: relative;
}
.intro-main .intro {
  margin: auto;
  margin-top: 250px;
  width: 600px;
  text-align: center;
}
.intro-main .intro .content p {
  text-align: center;
  font-size: 1.3em;
  margin: 10px;
}
.intro-main .intro .content h2 {
  margin: 30px;
  color: #FFFFFF;
}
.intro-main .intro .icon-down {
  margin-top: 300px;
}
.intro-main .logo-content {
  position: fixed;
  top: 45vh;
  right: 3.5%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.intro-main .logo-content img {
  padding: 10px;
}


.box {
  margin: auto;
  width: 85%;
  margin-bottom: 100px;
  -webkit-animation-name: enter-box;
          animation-name: enter-box;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
}
.box .title {
  margin-top: 20px;
  margin-bottom: 20px;
}
.box .texte {
  width: 95%;
  margin-bottom: 80px;
}
.box .row {
  display: flex;
  justify-content: space-between;
}
.box .row .profil {
  text-align: center;
  width: 310px;
}
.box .row .profil:hover {
transform: scale(1.1);
transition: .3s ease-in-out;
}
.box .row .profil img {
  width: 100%;
}
.box .row .profil .profil-title {
  margin: 25px;
  text-align: center;
}


.batman {
  margin-top: 70px;
}

.container-title {
  display: flex;
  flex-direction: row;
}
.container-title .title {
  padding-bottom: 0;
  text-align: center;
  padding-top: 60px;
}
.container-title .img-nemesis {
  margin-left: -60px;
  width: 150px;
}

.div-allies {
  justify-content: space-between;
}
.div-allies .img-allies {
  margin-top: -200px;
  margin-right: -19%;
}


.justice-leagues img {
  margin-left: -9%;
  width: 99vw;
}
.justice-leagues .justice-main {
  margin: 0 auto;
  width: 80%;
  margin-top: 100px;
  margin-bottom: 100px;
}
.justice-leagues .justice-main .title {
  margin-bottom: 30px;
}


.slides-media {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.slides-media .arrow-prec {
  margin: auto;
  margin-left: 0;
}
.slides-media .arrow-next {
  margin: auto;
  margin-right: 0;
}
.slides-media .slides {
  background-image: linear-gradient(to bottom right, rgba(237, 222, 191, 0.4), rgba(25, 88, 125, 0.4));
  display: flex;
  justify-content: center;
  text-align: center;
  width: 600px;
  height: 250px;
  border-radius: 20px;
}
.slides-media .slides img {
  width: 100%;
}
.slides-media .slides .description {
  border-radius: 0px 20px 20px 0px;
  border: solid 2px rgba(255, 255, 255, 0.1);
  border-left: 0;
}
.slides-media .slides .description p {
  margin: 10px;
  font-size: 0.8em;
  text-align: left;
}
.slides-media .slides .description .types-media {
  font-size: 1em;
}
.slides-media .slides .description .name-media {
  font-family: "Rajdhani-Medium";
  font-size: 1.2em;
}
.slides-media .slides .description .version-media span {
  color: #FFFF00;
}

.bande-annonce {
  margin: auto;
  width: 90%;
  text-align: center;
  margin-bottom: 200px;
}
.bande-annonce img {
  width: 95%;
  vertical-align: middle;
}
.bande-annonce img:hover {
  box-shadow: 1px 2px 20px 5px #ffffff9f;
  transition: .3s ease-in-out;
}

.contact {
  background-color: black;
  background-image: linear-gradient(to bottom right, rgba(237, 222, 191, 0.4), rgba(25, 88, 125, 0.4));
  margin-left: -9%;
  width: 99vw;
}
.contact .contact-main {
  margin: 0 auto;
  width: 750px;
  padding-top: 60px;
  text-align: center;
}
.contact .contact-main h1 {
  margin-bottom: 80px;
  text-transform: uppercase;
  text-align: center;
}
.contact .contact-main .lb-adresse,
.contact .contact-main .lb-newsletter,
.contact .contact-main .lb-message {
  font-family: "SpaceGrotesk-Regular";
  font-size: 22px;
  color: #ffffff;
  display: block;
  margin: 20px 0px;
  text-align: left;
}
.contact .contact-main .lb-choix {
  display: block;
  width: 80%;
  color: #c4c4c4;
  font-family: "Rajdhani-Medium";
  font-size: 18px;
  text-align: left;
  margin: 10px 0px;
}
.contact .contact-main input[type=email],
.contact .contact-main input[type=text],
.contact .contact-main textarea,
.contact .contact-main select {
  width: 100%;
  margin: 20px 0px;
  border: none;
  border-bottom: 2px solid #c4c4c4;
  background-color: rgba(255, 255, 255, 0);
  color: #c4c4c4;
  font-size: 16px;
  font-family: "SpaceGrotesk-Regular";
  resize: none;
}
.contact .contact-main input[type=checkbox]:checked {
  font-family: "FontAwesome";
  content: "\f00d";
  color: #ffffff;
}
.contact .contact-main input::-moz-placeholder, .contact .contact-main textarea::-moz-placeholder {
  color: #c4c4c4;
}
.contact .contact-main input:-ms-input-placeholder, .contact .contact-main textarea:-ms-input-placeholder {
  color: #c4c4c4;
}
.contact .contact-main input::placeholder,
.contact .contact-main textarea::placeholder {
  color: #c4c4c4;
}
.contact .contact-main input:focus,
.contact .contact-main textarea:focus {
  border: 0;
}
.contact .contact-main input[type=checkbox] {
  width: 20px;
  height: 20px;
  text-align: bottom;
}
.contact .contact-main input[type=radio] {
  opacity: 0;
  position: absolute;
  width: 0;
  height: 0;
}
.contact .contact-main input[type=submit] {
  border: none;
  align-self: center;
  padding: 20px 80px;
  margin-bottom: 50px;
  font-family: "SpaceGrotesk-Regular";
  color: #ffffff;
  font-size: 18px;
  background-image: linear-gradient(to right, rgba(13, 14, 9, 0.4), rgba(137, 0, 9, 0.9));
}
.contact .contact-main .div-formbtn {
  display: flex;
  justify-content: center;
}
.contact .contact-main .div-formbtn .btn-form {
  text-decoration: none;
  color: #ffffff;
  font-family: "SpaceGrotesk-Regular";
  margin: 15px;
  padding: 10px 30px;
  font-size: 0.8em;
  border: 1px solid;
  -o-border-image: linear-gradient(to right, #c4c4c4, #19587D);
     border-image: linear-gradient(to right, #c4c4c4, #19587D);
  border-image-slice: 1;
}
.contact .contact-main .div-formbtn .btn-form:hover {
  background-image: linear-gradient(to right, rgba(237, 222, 191, 0.4), rgba(25, 88, 125, 0.4));
}


.citation {
  margin-top: 200px;
}
.citation .citation-main {
  display: flex;
  justify-content: space-between;
  width: 70%;
  margin: auto;
}
.citation .citation-main .open-citation {
  margin: auto;
  margin-top: 0;
  margin-left: 0;
}
.citation .citation-main .close-citation {
  margin: auto;
  margin-bottom: 0;
  margin-right: 0;
}
.citation .citation-main .text-citation {
  width: 60%;
  padding-top: 100px;
  padding-bottom: 50px;
  font-size: 0.7em;
}
.citation .citation-main .text-citation p {
  text-align: center;
  font-weight: 70px;
  line-height: 40px;
}
.citation .citation-main .text-citation p span {
  padding: 20px;
  display: block;
  font-size: small;
  line-height: 30px;
}

/* FIN PROPRIETE DE LA PAGE HOME*//*# sourceMappingURL=home.css.map */