// DEFINITION DES COULEURS UNIQUE
$white: #FFFFFF;
$black: #000000;
$black-second: #0D0E09;
$yellow-primary: #ffff00;
$yellow-second: #F8F184;
$pink: #C4C4C4;
$violet: #19587D;
$red-dark: #B11313;
$page-border: rgba(255, 255, 255, 0.1);
// DEFINITION DES COULEURS EN DEGRADE
$btn-gradient: linear-gradient(to right, rgba(237, 222, 191, 0.40), rgba(137, 0, 9, 0.60));
$btn-gradient-hover: linear-gradient(to right, #eddebf, #890009);