/* DEFINITION DES TYPOGRAPHIES  ET PROPRIETES GENERALES ###########*/

@font-face {
    font-family: 'Rajdhani-Medium';
    font-style: medium;
    src: url('fonts/Rajdhani-Medium.ttf');
}

@font-face {
    font-family: 'SpaceGrotesk-Bold';
    font-style: bold;
    src: url('fonts/SpaceGrotesk-Bold.ttf');
}

@font-face {
    font-family: 'SpaceGrotesk-Regular';
    src: url('fonts/SpaceGrotesk-Regular.ttf');
}